#navbar{
    display: flex;
    /* border: 2px solid black; */
    width: 70vw;
    margin: auto;
    /* color: deepskyblue; */
    /* background-color: darkcyan; */
    text-align: center;
    justify-content: space-around;
}
#navbar h1{
    color: rgb(46, 24, 106);
}
#navbarlinks{
    padding: 15px;
display: flex;
/* justify-content: center; */
column-gap: 30px;
    /* background-color: brown; */
    margin-top: 20px;
    /* text-align: center; */
    margin-bottom: 25px;
    font-weight: 700;
    color: rgb(46, 24, 106);
    text-decoration: underline;
}
#navbarlinks button{
  
    padding: 5px 10px;
    border-radius: 5px;
    margin: 1opx 5px;
    width: 100px;
    background-color:  rgb(46, 24, 106);
    color:white;
    box-shadow:1px 2px rgb(9, 120, 151);
}
.left{

    width: 30vw;
    height: 70vh;
    font-size: large;
}
.left h1{
    color:rgb(46, 24, 106) ;

}
.left p{
    color:rgb(46, 24, 106) ;

}
.content{
    
    width: 70vw;
    margin: auto;
    gap: 10vw;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    /* justify-content: center; */
  
}

.content{
    display: flex;
    justify-content: center;
}

.content > img {
    width: 40%;
    
}

.left > h1{
    font-size: 56px;
}
.left > p{
    font-size: 1.3em;
}
.button{
    display: flex;
    /* column-gap: 20px; */
}
.left > .button > button{
    background-color: rgb(46, 24, 106 );
    color: white;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 20px;
   margin:  10px;
   box-shadow: 5px 5px 8px rgb(87, 81, 81);
}
